@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.8; }
}

.my-name {
    animation: fadeIn 1.5s;
    transition: translateX("50px") 1.5s ease;
}

.contact-info {
    animation: fadeIn 1.5s;
}

.developer-text {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 400ms;
    animation-fill-mode: both;
}

.description {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}