@keyframes flowIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

body {
  background-color: #121212;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* background-color: #d064eb10; */
    animation-duration: 2.2s;
    animation-name: flowIn;

    box-sizing: border-box;

    @media only screen and (max-width: 600px) {
      margin: auto;
      padding: 10px 0px;
      width: 95%;
    }

    @media only screen and (min-width: 600px) {
      margin: auto;
      padding: 10px 0px;

      width: 40%;
    }

    .contact-panel {
      .submit {
        margin: 1rem 0px 0px 0px;
        height: 40px;
        background-color: #658252;
        border: none;
        border-radius: 4px;
      }
    }

    .resume-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 200ms ease, border-radius 200ms ease;

      &:hover {
        background-color: #658252;
        border-radius: 12px;
        cursor: pointer;
      }

      .download-icon {
        height: 50px;
        filter: brightness(0) invert(1);
      }
    }
  }
}

.bold {
  font-weight: bold;
}

#name {
  /* color: black; */
  /* color: #d064eb;
   */
  color: #658252;
}

.card {
  color: #ffffff;
  padding: 1rem;

  height: auto;
  border: 1px solid #ffffff15;
  background-color: #ffffff05;
}

.contact-panel {
  background-color: #ffffff05;
  display: flex;
  flex-direction: column;
  color: #658252;

  .text-input {
    background-color: #ffffff10;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    padding: 12px;

    &.description {
      height: 160px;
      min-height: 160px;
      resize: none;
    }
  }

  .input-title {
    color: #65825290;
  }
}

.skills-panel {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  background-color: transparent;

  .skills-card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 60px;
    padding: 8px;

    border-radius: 8px;
    background-color: #ffffff06;

    transition: background-color 300ms ease, transform 100ms;

    font-size: 40px;

    &:hover {
      background-color: #ffffff15;
      box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 0.1);

      transform: translateY(-5px);
    }
  }
}

@media screen and (max-width: 576px) {
  /* breakpoint for mobile devices */
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  /* breakpoint for mobile devices in landscape / small tablets */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* breakpoint for larger tablets */
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  /* breakpoint for small to medium-sized laptop / desktop screens */
}

@media screen and (min-width: 1367px) {
  /* breakpoint for large desktop screens */
}
