@font-face {
    font-family: FancyFont;
    src: url("./fonts/Parisienne-Regular.ttf");
}
@font-face {
    font-family: Modern;
    src: url("./fonts/PoiretOne-Regular.ttf");
}
@font-face {
    font-family: CursiveFancy;
    src: url("./fonts/Oswald-ExtraLight.ttf");
}
@font-face {
    font-family: FatFace;
    src: url("./fonts/DMSerif.ttf");
}

body {
    padding: 0px;
    margin: 0px;

    /* background-color: #2A363B; */
    background-color: #131313;

    -webkit-font-smoothing: antialiased;
}
.navbar {
    border-bottom: solid 1px;
    border-color: rgb(255, 255, 255, 0.9);
    width: calc(100% - 6rem);
    height: 4.5rem;
    margin-right: 3rem;
    margin-left: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-name {
    font-family: "FancyFont", sans-serif;
    color: #F8EFD4;
    font-size: 22px;
    opacity: 0.9;

    text-align: left;
    display: flex;
    align-items: center;

    width: auto;
    height: 50px;
}

.contact-info {
    font-family: "Modern", sans-serif;
    color: #F8EFD4;
    font-size: 30px;
    opacity: 0.9;

    text-align: left;
    display: flex;
    align-items: center;

    width: auto;
    height: 50px;
}

.content {
    width: calc(100vw - 6rem);
    height: 100vh;

    display: grid;
    place-items: center;
}

.profile-container {
    background-color: #F8EFD4;
    height: auto;
    width: 40px;
    padding: 0.3rem;
    border-radius: 172px 172px 172px 172px;
}

.pfp {
    background-image: url("PfPwithahat.jpg");
    background-size: contain;
    height: 40px;
    width: 40px;

    border-radius: 100%;
}

.developer-text {
    font-family: "FatFace", sans-serif;
    font-size: clamp(15rem, 1rem + 18vw, 15rem);
    color: #2A363B;
    background: repeating-linear-gradient(
        35deg,
        hsl(343 100% 50%) 0px 2px,
        hsl(23 100% 50%) 0px 4px
      );
    text-align: left;
    display: flex;
    align-items: center;

    /* position: absolute;
    bottom: 3rem; */

    width: auto;
    height: auto;
    opacity: 0.8;
}

.description {
    font-family: "CursiveFancy", sans-serif;
    color: #F8EFD4;
    /* font-size: 60px; */
    font-size: clamp(1rem, 1rem + 3vw, 3rem);
    opacity: 0.9;

    text-align: left;
    display: flex;
    align-items: center;

    width: 35rem;
    height: 200px;

    position: absolute;
    top: 57%;
    left: 65.6%;
}

.veteran-text {
    font-family: "FatFace", sans-serif;
    font-size: 120px;
    color: #FFFFFF;
    text-align: left;
    display: flex;
    align-items: center;

    width: auto;
    height: auto;

}